<div ng-controller="MainCtrl" layout="column" layout-fill ng-cloak >
  <md-toolbar>
  <div class="md-toolbar-tools">
    <span>Ruby On Road</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button>
    Right Bar Button
    </md-button>
  </div>
  </md-toolbar>
  <md-content layout="row" layout-align="space-around center">
      <div flex="90" flex-gt-sm="66" >
        <%= 'Dolor istamet Lorem ipsup. '* 500 %>
      </div>
  </md-content>
</div>
