/*header {
  background-image: image-url('road.jpg');
  background-size: cover;
  height: 65vh;
  min-height: 180px;

  .page-title {
    color: $white;
    font-size: 42px;
  }

  .page-description {
    color: $gray-dark;
  }

  .main-header-wrapper {
    padding-top: 22vh;
    padding-bottom: 22vh;
  }
}*/

.img-hint {
  position: relative;
  top: 20px;
  font-style: italic;
  .socials {
    font-size: 24px;
    a {
      border-bottom: none !important;
    }
  }
}
.section-heading-spacer {
  margin-top: 50px;
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
 }

.bg-primary {
  background-color: #f05f40;
}

#why {

  a, a:focus {
    color: #fff;
    border-bottom: 1px dashed;
    text-decoration: none;

    &:hover {
      color: #ccc;
      text-decoration: none;
     }
  }
}

#subscribe {
  min-height: 320px;
  .btn-block {
    margin-top: 10px;
    @media(min-width: $screen-sm) {
      margin-top: 0px;
    }
  }
}

svg {
  fill: currentColor;
  color: #fff;
  width: 30px;
  height: 30px;
}

svg:hover {
  color: #ccc;
}
