!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rubyonroad
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .container
        .main-header-wrapper.text-center
          %h1.page-title
            Ruby on Road
          %h2.page-description
            Travel, code, pair.

    .container
      = yield
